*
{
    box-sizing: border-box;
    font-family: 'Arya' , monospace;
    margin: 0;
    padding: 0;
}

body
{
    background-color: violet;
   
}

#title
{
    text-align: center;
    color: black;
    font-size: 1rem;
    letter-spacing: 1px;
    margin-bottom: 1rem;
}

#container
{
    max-width: 450px;
    margin: auto;
    padding: 2rem;
   
   
}

#type-box
{
    width: 100%;
    margin: auto;
    border: none;
    outline: none;
    padding: 1rem;
    background-color: white;
    font-size: 0.9rem;
}

.redcolor
{
    color: red;
}

#number-counter
{
    max-width: 400px;
    padding: 2rem;
    margin: auto;
    /* margin-bottom: 2rem; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    background-color: white;
    gap: 8px;
}

#number-counter>div
{
    flex-basis: 40%;
}
