*
{
    box-sizing: border-box;
    font-family: 'Arya' , monospace;
    margin: 0;
    padding: 0;
}

body
{
    background-color: #f3d4d4;
   
}

#title
{
    text-align: center;
    color:black;
    font-size: 1.2rem;
    letter-spacing: 1px;
    margin-bottom: 1rem;
    text-transform: uppercase;
}

#container
{
    max-width: 450px;
    margin: auto;
    padding: 2rem;
}

#type-box
{
    width: 100%;
    margin: auto;
    border: none;
    outline: none;
    padding: 1rem;
    background-color: white;
    font-size: 0.9rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.redcolor
{
    color: red;
}

#number-counter
{
    max-width: 400px;
    padding: 2rem;
    margin: auto;
    /* margin-bottom: 2rem; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    background-color: white;
    gap: 8px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

#number-counter>div
{
    flex-basis: 40%;
}

#number-counter p 
{
    text-transform: uppercase;
    font-size: 0.8rem;
    letter-spacing: 1px;
}